<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   H0_PList.plist
   H0_Interface

   Created by Ruedi Heimlicher on 13.03.2026.
   Copyright (c) 2026 Ruedi Heimlicher. All rights reserved.
-->
<plist version="1.0">
<dict/>
</plist>
